@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url('/background.jpg');  /* Correct path to image */
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
